@import "tailwindcss";

/* =======================
   Custom Theme Variables
   ======================= */
:root {
  --bg: #e6e3e3;
  --bg-main: rgb(241, 241, 241);
  --text: rgb(17, 24, 39);
  --muted: #6b7280;
  --main-light: #23984e;
  --main-light-transparent: rgba(35, 152, 78, 0.2);
  --project-transparent: rgba(223, 233, 226, 0.95);
}

[data-theme="dark"] {
  --bg: #0b1220; 
  --bg-main: black;
  --text: #f8fafc;
  --muted: #9ca3af;
  --project-transparent: rgba(14, 39, 23, 0.95);
}

/* =======================
   Global Styles
   ======================= */
body {
  background: var(--bg);
  color: var(--text);
  transition: background-color 0.18s ease, color 0.18s ease;
}

h3{
  color:var(--main-light);
}